<div class="header">
    <button (click)="navigateHome()" class="blank-button">
        <div class="title">
            <img src="../../../assets/note.png" alt="Note">
            <p>Tune Transfer</p>
        </div>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="globe-button">
        <i class="bi bi-globe"></i>
    </button>
    <mat-menu #menu="matMenu">
        @for (lang of languages; track lang.code) {
            <div>
                <button mat-menu-item>
                    <span class="fi fi-{{ lang.code }}"></span>  {{ lang.name }}
                </button>
            </div>
        }
    </mat-menu>
</div>