h1 {
    text-align: center;
    font-size: large;
}

p.paragraph {
    display: block;
    margin: auto;
    font-size: small;
    text-align: center;
    width: 500px;
}

.next-button {
    display: block;
    padding: 10px 20px;
    margin: auto;
    margin-top: 40px;
    background-color: #79baff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.next-button:hover {
    background-color: #3783d4;
}